!!! 5
%html
  %head
    %title kodnin (David Boot)
    %meta{ name: 'viewport', content: 'initial-scale=1' }
    %link{ rel: 'stylesheet', href: '/reset.css' }
    %link{ rel: 'stylesheet', href: '/style.css' }
  %body
    .container
      .block
        %p operating as
        %ul
          %li
            %a{ href: 'http://kodnin.com/' } kodnin
          %li
            %a{ href: 'http://davidboot.com/' } david boot
      .block
        %p coding in
        %ul
          %li
            %a{ href: 'https://www.ruby-lang.org/' } ruby
          %li
            %a{ href: 'http://clojure.org/' } clojure
          %li
            %a{ href: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript' } javascript
      .block
        %p hiding at
        %ul
          %li
            %a{ href: 'mailto:kodnin@gmail.com' } email
          %li
            %a{ href: 'http://kodnin.github.io/' } blog
          %li
            %a{ href: 'https://github.com/kodnin' } github
          %li
            %a{ href: 'https://twitter.com/kodnin' } twitter
