<html>
  <head>
    <title>kodnin | David Boot</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lora:400,400italic,700">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="container">
      <p>Hello, I'm <strong>David</strong> (27), <em>working</em> as <strong>kodnin</strong> and planning to <em>move</em> to <strong>Berlin</strong>, Germany. The past two years I <em>wrote</em> <strong>software</strong> as a <a href="http://www.inspire.nl/">backend developer</a> using <em>versatile</em> <strong>technologies</strong> like <a href="https://www.ruby-lang.org/en/">Ruby</a>, <a href="http://rubyonrails.org/">Rails</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>, <a href="http://coffeescript.org/">CoffeeScript</a>, <a href="http://nodejs.org/">Node.js</a>, <a href="http://www.postgresql.org/">PostgreSQL</a> and <a href="http://www.mongodb.org/">MongoDB</a>. Currently I'm <strong>looking</strong> <em>for</em> a <em>challenging</em> <strong>job</strong>. I'm a <em>passionate</em> <strong>learner</strong>, I <em>enjoy</em> <strong>coaching</strong> at <a href="http://railsgirls.com/">Rails Girls</a> and I <em>value</em> <strong>practices</strong> like <a href="https://github.com/seattlerb/minitest">testing</a>, <a href="http://git-scm.com/">version control</a> and <a href="https://github.com/">peer reviews</a>. <strong>Follow</strong> <em>me</em> on <a href="https://github.com/kodnin">GitHub</a> and <a href="https://twitter.com/kodnin">Twitter</a>, <strong>contact</strong> <em>me</em> via <a href="http://nl.linkedin.com/pub/david-boot/96/528/ba0">LinkedIn</a> or through <a href="mailto:kodnin@gmail.com">kodnin@gmail.com</a>.</p>
    </div>
  </body>
</html>
