/* imports */

@import url(http://fonts.googleapis.com/css?family=Halant:300);

/* media queries */

@media screen and (min-width: 360px) {
  body {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 440px) {
  body {
    font-size: 1.6em;
  }
}

/* spacing */

body {
  min-width: 320px;
}

.container {
  margin: 30px;
}

.block {
  margin-bottom: 30px;
}

ul li {
  display: inline;
}

/* typography */

p {
  font-style: italic;
}

ul li + li:before {
  content: '•';
}

ul li a {
  border-bottom: 1px dotted #333;
  font-size: 1.25em;
  text-decoration: none;
}

p, ul li {
  font-family: 'Halant', serif;
  font-weight: 300;
  line-height: 1.75;
}

p, ul li a {
  color: #333;
}
