@import url(http://fonts.googleapis.com/css?family=Halant:300);

.container, a {
  color: #333;
}

.container {
  font-family: 'Halant', serif;
  font-weight: 300;
  margin-left: 50px;
}

p {
  font-size: 1.5em;
  font-style: italic;
  margin: 50px 0 15px 0;
}

ul li {
  display: inline;
  margin-right: 3px;
}

ul li a {
  border-bottom: 1px dotted;
  font-size: 2em;
  text-decoration: none;
}
